{% extends 'base.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block body %}
    <section class="welcome">
        <div class="bloc1">
            <h2>Bienvenue</h2>
            <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
            <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt-à-porter</p>
        </div>
        <div class="bloc2">
            <img src="{{ '/images/hero-header.jpg' | imagine_filter('home1') }}" alt="">
        </div>
    </section>
    <section class="products">
        <h1>Nos produits</h1>
        <div class="product-list">
            <div class="card">
                <img src="{{ '/images/produit1.jpg' | imagine_filter('homeproduct') }}" alt="">
                <h3>Kit d'hygiène recyclable</h3>
                <p class="desc">Pour une salle de bain éco-friendly</p>
                <p class="price">24,99€</p>
                <button>Voir le produit</button>
            </div>
            <div class="card">
                <img src="{{ '/images/produit2.jpg' | imagine_filter('homeproduct') }}" alt="">
                <h3>Nom du produit</h3>
                <p class="desc">Description</p>
                <p class="price">$19.99</p>
                <button>Voir le produit</button>
            </div>
            <div class="card">
                <img src="{{ '/images/produit3.jpg' | imagine_filter('homeproduct') }}" alt="">
                <h3>Nom du produit</h3>
                <p class="desc">Description</p>
                <p class="price">$19.99</p>
                <button>Voir le produit</button>
            </div>
            <div class="card">
                <img src="{{ '/images/produit1.jpg' | imagine_filter('homeproduct') }}" alt="">
                <h3>Kit d'hygiène recyclable</h3>
                <p class="desc">Pour une salle de bain éco-friendly</p>
                <p class="price">24,99€</p>
                <button>Voir le produit</button>
            </div>
            <div class="card">
                <img src="{{ '/images/produit2.jpg' | imagine_filter('homeproduct') }}" alt="">
                <h3>Nom du produit</h3>
                <p class="desc">Description</p>
                <p class="price">$19.99</p>
                <button>Voir le produit</button>
            </div>
            <div class="card">
                <img src="{{ '/images/produit3.jpg' | imagine_filter('homeproduct') }}" alt="">
                <h3>Nom du produit</h3>
                <p class="desc">Description</p>
                <p class="price">$19.99</p>
                <button>Voir le produit</button>
            </div>
        </div>
    </section>
    <section>
        <div class="about1">
            <div class="bloc1">
                <h2>Notre conviction</h2>
                <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la
                    planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits
                    qui
                    allient qualité, durabilité et éthique</p>
            </div>
            <div class="bloc2">
                <img src="{{ '/images/conviction.jpg' | imagine_filter('home2') }}" alt="conviction">
            </div>
        </div>
        <div class="about2">
            <div class="bloc1">
                <h2>Nos valeurs</h2>
                <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et
                    favorisent
                    la durabilité.<br>
                    Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent
                    nos
                    valeurs éthiques.<br>
                    Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les
                    matériaux
                    écologiques.</p>
            </div>
            <div class="bloc2">
                <img src="{{ '/images/valeurs.jpg' | imagine_filter('home2') }}" alt="valeurs">
            </div>
        </div>
    </section>
{% endblock %}
