{% extends 'base.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block body %}
    <section class="welcome">
        <div class="bloc1">
            <h2>Bienvenue</h2>
            <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
            <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt-à-porter</p>
        </div>
        <div class="bloc2">
            <img src="{{ '/images/hero-header.jpg' | imagine_filter('home1') }}" alt="">
        </div>
    </section>
    <section class="products">
        <h1>Nos produits</h1>
        <div class="product-list">
            {% for product in products %}
                <div class="card">
                    <a href="{{ path('app_product', { id: product.id}) }}" class="picture"><img src="{{ product.picture | imagine_filter('homeproduct') }}" alt=""></a>
                    <h3>{{ product.name }}</h3>
                    <p class="desc">{{ product.shortDesc }}</p>
                    <p class="price">{{ product.price}} €</p>
                    <a href="{{ path('app_product', { id: product.id}) }}" class="button"  >Voir le produit</a>
                </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <div class="about1">
            <div>
                <h2>Notre conviction</h2>
                <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la
                    planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits
                    qui
                    allient qualité, durabilité et éthique</p>
            </div>
            <img src="{{ '/images/conviction.jpg' | imagine_filter('home2') }}" alt="conviction">
        </div>
        <div class="about2">
            <div>
                <h2>Nos valeurs</h2>
                <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et
                    favorisent
                    la durabilité.<br>
                    Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent
                    nos
                    valeurs éthiques.<br>
                    Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les
                    matériaux
                    écologiques.</p>
            </div>
            <img src="{{ '/images/valeurs.jpg' | imagine_filter('home2') }}" alt="valeurs">
        </div>
    </section>
{% endblock %}
