{% extends 'base.html.twig' %}

{% block title %}Produit{{ parent() }}{% endblock %}

{% block body %}
    <div class="product">
        <img src="{{ product.picture | imagine_filter('product') }}" alt="{{ product.name }}">
        <div class="info">
            <div class="details">
                <h1>{{ product.name }}</h1>
                <p class="price">{{ product.price|number_format(2, ',', ' ') }} €</p>
                <h4>Description</h4>
                <p>{{ product.longDesc }}</p>
            </div>
            {{ form_start(form) }}
            {% if app.user %}
                {{ form_row(form.quantity) }}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            {% else %}
                {# Simple lien pour les non-connectés #}
                <a href="{{ path('app_auth_login', {'_target_path': app.request.uri}) }}" class="btn">
                    Ajouter au panier
                </a>
            {% endif %}

        </div>
    </div>
{% endblock %}
