{% extends 'base.html.twig' %}

{% block title %}Connexion{{ parent() }}{% endblock %}

{% block body %}
    <div class="login">
        <img src="{{ '/images/conviction.jpg' | imagine_filter('connection') }}" alt="">
        <div class="form">
            <h1>Connexion</h1>
            <form method="post"  novalidate="novalidate">
{#
                <label for="login">Adresse mail</label>
                <input type="text" name="login" id="login" required="">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" required="">
                <a href="" class="button">Se connecter</a>
#}
                {% if error %}
                    <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="logged">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
                    </div>
                {% endif %}



                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>

                <label for="password">Password</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                <button class="button" type="submit">Se connecter</button>

            </form>
            <p><a href="{{ path('app_auth_signin') }}">Pas encore de compte ? S’inscrire</a></p>
        </div>
    </div>
{% endblock %}




