{% extends 'base.html.twig' %}

{% block title %}Inscription{{ parent() }}{% endblock %}

{% block body %}
    <div class="signin">
        <img src="{{ '/images/inscription.jpg' | imagine_filter('connection') }}" alt="">
        <div class="form">
            <h1>Inscription</h1>
            <p class="subtitle">Tous les champs sont obligatoires.</p>

            {{ form_start(form) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.cgu) }}
            <button class="button" type="submit">S'inscrire</button>
            {{ form_end(form) }}

            <p><a href="{{ path('app_auth_login') }}">Pas encore de compte ? S’inscrire</a></p>
        </div>
    </div>
{% endblock %}
