{% extends 'base.html.twig' %}

{% block title %}Mon compte{{ parent() }}{% endblock %}

{% block body %}
    <div class="account">
        <h1>Mon compte</h1>
        <div class="orders">
            <h2>Mes commandes</h2>
            <table>
                <tr>
                    <th>N°</th>
                    <th>Date</th>
                    <th class="colonne3">Prix</th>
                </tr>
                {% for item in purchaseList %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.date|date('d/m/Y') }}</td>
                        <td class="colonne3">{{ item.totalPrice|number_format(2, ',', ' ') }} €</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="api">
            <h2>Mon accès API</h2>
            <a class="button">Activer mon accès API</a>
        </div>
        <div class="delete">
            <a href="{{ path('app_del_account') }}" class="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?')">Supprimer mon compte</a>
        </div>
    </div>
{% endblock %}
